{% extends "_shares.html" %}
<title>{% block title %}Drop Form{% endblock %}</title>
{% block main %}

<link rel="stylesheet" type="text/css" href="/static/css/indexA.css"></link>
<br>
<div class="box">
    <p>
        Please take some time to fill out your information. That way we can get a hold of you ASAP.

    </p>

    <form>
        <div class="form-group">
            <label for="InputEmail1">Email address:</label>
            <input type="email" class="form-control" id="InputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="FormControlTextarea1">Project Aspirations:</label>
            <textarea class="form-control" id="FormControlTextarea1" rows="3" placeholder="Enter dreams here :)"></textarea>
        </div>
        <div class="form-group">
            <label for="InputFile1">Project File Drop:</label>
            <input type="file" class="form-control-file" id="FormControlFile1">
        </div>
        <button type="submit" class="btn btn-default"><a class="nav-link">Drop</a></button>
    </form>
</div>
</div>

{% endblock %}