{% extends "shared/_shares.html" %} {% block main %}
<link rel="stylesheet" type="text/css" href="/static/css/indexA.css"></link>
<br>
<div class="box">
    <h2>Title</h2>
    <br>
    <br>
    <p>
        your text here
    </p>
    <p>
        Please fill in your name and the email.
    </p>
    <form>
        <div class="form-row ">
            <div class="col ">
                <input type="text " class="form-control " placeholder="First ">
            </div>
            <div class="col ">
                <input type="text " class="form-control " placeholder="Last ">
            </div>
        </div>
        <br>
        <div class="form-group ">
            <input type="email " class="form-control " id="InputEmail1 " placeholder="Email ">
        </div>
        <button type="submit" class="btn btn-sm">Drop</a></button>
    </form>
</div>
</div>
</div>
{% endblock %}
