{% extends "_shares.html" %} {% block main %}
<link rel="stylesheet" type="text/css" href="/static/css/indexA.css"></link>
<br>
<div class="box">
    <h2>Welcome to Codex Black Studios!</h2>
    <br>
    <br>
    <p>


    </p>
    <br>
    <br> Please fill in your name and the email you wish to use.
    </p>
    <form>
        <div class="form-row ">
            <div class="col ">
                <input type="text " class="form-control " placeholder="First ">
            </div>
            <div class="col ">
                <input type="text " class="form-control " placeholder="Last ">
            </div>
        </div>
        <br>
        <div class="form-group ">
            <input type="email " class="form-control " id="InputEmail1 " placeholder="Email ">
        </div>
    </form>
</div>
</div>
</div>
<br>
<br>
<div class="box ">
    <p>
        <h2>Welcome to Codex Black Blog!</h2>
        <br>



        <br>
        <br> Hi, all!
        <br> Co-founder Boyd here!
        <br>




        <br>
    </p>
</div>
<script></script>
{% endblock %}