{% extends "_shares.html" %} {% block main %}
<link rel="stylesheet" type="text/css" href="/static/css/indexA.css"></link>
<br>
<div class="box">
    <h2>Welcome to Codex Black Studios!</h2>
    <br>
    <br>
    <p>
        Glad to see you have made it to our site. We are a web development agency. We wish to help those who would like to make a name for their company on the web. To professionalize your customers experience. To bring you to the next step. We will help you
        in a video chat or call if you rather. We like to show you the value we can bring your services. If thats just a mail service, all the way to a full web store. Allowing some automation. We are a small buisness ourselves. So we understand the cost
        of doing business. We look forward to consulting with you on aspects of design look and feel. We build our code in house. We use some frameworks for this but we are not a wordpress or squarespace. We do not share code between sites beyond dependencies.
        So if one client has a breach, we can assure that our other clients will not go down the same way. We also offer support to keep your software up to date. To minimize risk. We would love to hear from you soon.
    </p>
    <p>
        Please fill in your name and the email.
    </p>
    <form>
        <div class="form-row ">
            <div class="col ">
                <input type="text " class="form-control " placeholder="First ">
            </div>
            <div class="col ">
                <input type="text " class="form-control " placeholder="Last ">
            </div>
        </div>
        <br>
        <div class="form-group ">
            <input type="email " class="form-control " id="InputEmail1 " placeholder="Email ">
        </div>
    </form>
</div>
</div>
</div>
<br>
<br>
<div class="box ">
    <p>
        <h2>Welcome to Codex Black Blog!</h2>
        <br>



        <br>
        <br> Hi, all!
        <br> Co-founder Boyd here!
        <br>




        <br>
    </p>
</div>
<script></script>
{% endblock %}
