{% extends "_shares.html" %} {% block title %}Archive{% endblock %} {% block main %}
<link rel="stylesheet" type="text/css" href="/static/css/indexA.css"></link>
<br>
<div class="box">
    <h2>Welcome</h2>
    <br>
    <p>
        Hi, we are glad to have you. Please enjoy the read about why we exist to serve you.
    </p>
    <p>
        In todays business presure cooker what makes you stand out? To me, I love a local mom & pop style business. Well I see lots of these buisness are going away. Or in other ways stagnating because of family interest. Because generating SEO is hard enough
        in the world, boots on the ground. How can we help? We want to build your own custom web presents.
    </p>
    <p>
        We first would like to take a personal aproach. Making sure to schedule a phone or more preferrably a video chat. Because we are a small agency. We want the same attention as you do in such an interation. We want you to feel as important as any "big clients".
        We are the new wave. Where do the brick and morters have to go. Don't let your business atrophy. Let us help you build your future.
    </p>
    <p>
        We can help you modernize and automate your business so you dont have to be at some computer screen or in a physical place to make money. We have very simple options to choose from, we customize these choices per customer to appeal to your needs. So click
        on contact in the menu or refer to the drop page to set an appointment with our staff. We will respond within 24 hours. Thank you so much for the read.
    </p>
</div>
{% endblock %}